<div class="artwork-title">
  <%= @artwork.title %>
</div>

<div class="artwork-piece">
  <%= image_tag url_for(@artwork.image) %>
</div>

<div class="artwork-statement">
  <%= @artwork.description %>
</div>

<div class="navigation-buttons">
  <% if @artwork.previous != nil %>
    <span class="button-previous">
      <%= link_to "Previous", @artwork.previous %>
    </span>
  <% end %>

  <% if @artwork.next != nil %>
    <span class="button-next">
      <%= link_to "Next", @artwork.next %>
    </span>
  <% elsif Gallery.first != nil %>
    <span class="button-next">
      <%= link_to "Next", Gallery.first %>
    </span>
  <% end %>
</div>


<% if logged_in? %>
  <div class="artwork-ud">
    <%= link_to "Edit", edit_artwork_path(@artwork.id) %>
    <%= link_to "Delete", artwork_path(@artwork.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>