<div class="artwork-form">
  <%= form_for :gallery, url: '/galleries', method: 'post', multipart: true do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :cover_page %>
      <%= f.file_field :cover_page %>
    </div>
    <div class="field">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>