<nav class="navbar">
  <div class="nav-container">
    <span id="logo">
      <%= link_to root_path do %>
        <%= image_tag('bv_weblogo.png', height: '47', width: '400') %>
      <% end %>
    </span>
    
    <span class="nav-links">
      <ul class="navbar-list">
        <li class="nav-item"><%= link_to 'Work', artworks_path %></li>
        <li class="nav-item"><%= link_to 'About', about_path %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'Log Out', '/logout' %></li>
        <% end %>
      </ul>
    </span>
  </div>
</nav>